<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>CarlaConfigHub</title>
    <script th:src="@{/js/script.js}" defer></script>
    <link rel="stylesheet" th:href="@{/css/style.css}"></link>
</head>
<body>

<h1>CarlaConfigHub</h1>

<form id="configForm">

    <fieldset>
        <legend>Weather</legend>
        <label>
            Rain:
            <input type="number" id="rain" min="0" max="100">
        </label>
        <label>
            Cloudiness:
            <input type="number" id="cloudiness" min="0" max="100">
        </label>
    </fieldset>

    <fieldset>
        <legend>Vehicle</legend>
        <label>
            Model:
            <input type="text" id="model">
        </label>
        <label>
            Max Speed:
            <input type="number" id="speed">
        </label>
    </fieldset>

    <fieldset>
        <legend>Scenario</legend>
        <label>
            Map:
            <input type="text" id="map">
        </label>
        <label>
            Duration (sec):
            <input type="number" id="duration">
        </label>
    </fieldset>

    <button type="submit">Generate XML</button>
</form>

<h2>Output XML</h2>
<pre id="output"></pre>
</body>
</html>
